<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Animations</title>
</head>
<body>

  <section class="intro container">

    <h1 class="">Title</h1>

    <div 
    class="img-wrapper">
      <img class="" src=/assets/img/SIDE_IMAGE_uncompressed.png" alt="">
    </div>
    <div 
    class="img-wrapper">
      <img class="" src="/assets/img/SIDE_IMAGE_uncompressed.png" alt="">
    </div>
    <div
    #sectionFive
    class="img-wrapper img-5">
    <img class="" src="/assets/img/SIDE_IMAGE_uncompressed.png" alt="">
    </div>
    <div 
    #sectionFour
    class="img-wrapper img-6">
      <img class="" src="/assets/img/SIDE_IMAGE_uncompressed.png" alt="">
    </div>

  </section>

  
</body>
</html>
